[submodule "Data/velvet"]
	path = Data/velvet
	url = https://github.com/dzerbino/velvet.git
[submodule "Data/prokka"]
	path = Data/prokka
	url = https://github.com/tseemann/prokka.git
[submodule "Data/Roary"]
	path = Data/Roary
	url = https://github.com/sanger-pathogens/Roary.git
